[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
googlemaps = "*"
haversine = "*"
ipython = "*"

[dev-packages]
black = "==21.9b0"

[requires]
python_version = "3.8"
