* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: rgb(236, 234, 234);
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}
.slider {
  width: 25%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

h1 {
  color: rgb(255, 145, 56);
  font-size: 40px;
  margin: auto;
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: medium;
  margin: auto;
  text-align: center;
}
.title {
  margin-top: 5%;
  margin-bottom: 5%;
}

.header_container {
  display: flex;
  align-items: center;
  padding: 3%;
  width: 90%;
  margin: auto;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  gap: 2%;
  flex-wrap: wrap;
}
form {
  margin-left: 5%;
  display: flex;
  align-items: center;
  padding: 3%;
  width: 60%;
  margin: auto;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  gap: 2%;
  flex-wrap: wrap;
}

form p {
  font-size: small;
}

.tutorial {
  display: flex;
  align-items: center;
  padding: 3%;
  width: 90%;
  margin: auto;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  gap: 2%;
  flex-wrap: wrap;
}
.result_title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  font-size: 30px;
  background-color: rgb(255, 145, 56);
  color: white;
  width: 90%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  max-height: 1%;
  text-align: center;
}

.result_container {
  display: flex;
  align-items: center;
  padding: 3%;
  width: 90%;
  margin: auto;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  gap: 2%;
  flex-wrap: wrap;
}
.img_result {
  border-radius: 5px;
}
.img_result:hover {
  transform: scale(1.03, 1.03);
  transition: all 0.13s ease-in-out;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 3%;
  justify-content: space-evenly;
  max-width: 50%;
}

.single_card {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: repeat(3, fit-content());
  padding: 3%;
  background-color: white;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.1s ease-in-out;
  margin: 3%;
}

.single_card:hover {
  box-shadow: 3px 3px 3px #888888;
}

.no {
  font-size: 26px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1 / span 3;
  background-color: rgb(255, 145, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 70%;
  min-width: 40%;
}

.name {
  font-weight: 500;
  font-size: 23px;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-bottom: 2%;
  padding-top: 4%;
  padding-left: 3%;
}
.address {
  font-size: 13px;
  color: rgb(116, 116, 116);
  grid-row-start: 2;
  grid-row-end: 3;
  padding-right: 7%;
  padding-left: 3%;
}
.distance {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  padding-bottom: 4%;
  padding-top: 2%;
  padding-left: 3%;
}

.footer {
  position: absolute;
  background-color: rgb(255, 145, 56);
  color: white;
  text-align: center;
  margin-top: 3%;
  padding: 1%;
}
